<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

	$(document).ready(function(){
		setActiveNavBar();
	});

	function setActiveNavBar(){ //seta a classe do navbar como ativa dependendo de qual area está sendo navegada
		var route = window.location.href.split('/')[3];
		$('.navbar-nav a').each(function(){
			if(this.id == route){
				$(this).closest('li').addClass('active');
			}
		});
	}
</script>
<style type="text/css">
	.center-container{
		margin: auto;
		width: 80%;
	}

	.container{
		width:80%;
		min-height: 90%;
		z-index:1;
		padding:0 0 15 0;
		background-color: white;
	}
	
	body{
		background-image:url(/../resources/wallpaper.png);
		font-family:Verdana,sans-serif;
		font-size: 15px;
	}

	.table{
		table-layout: fixed;
	}
	.form-group{
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar{
		border-radius: 0px;
	}
	.table>tbody>tr td{
		vertical-align:middle;
	}
	.hidden{
		display:none;
	}

	.navbar-inverse .navbar-brand:hover, 
	.navbar-inverse .navbar-brand:focus {
	  background-color: transparent;
	  color: #999999;
	  cursor:default;
	}

</style>

<title>Casa Doces</title>