<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
		<div class="container">
		    <nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Projeto BD</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li><a href="#">Home</a></li>
			      <li><a href="pedido">Pedido</a></li>
			      <li><a href="estoque">Estoque</a></li>
			      <li><a href="produto">Produto</a></li>
			      <li class="active"><a href="relatorio">Relatório</a></li>
			    </ul>
			  </div>
			</nav>

			<div class="row">
				<div class="col-sm-8">
					Data inicial:
					<input type="date" name="dataInicial">
	  				Data final:
					<input type="date" name="dataFinal"><br><br>
	  				<table class="table table-striped">
						<tr>
						    <th>Produto</th>
						    <th>Quantidade</th>
						    <th>Valor Total</th>
						</tr>
						<tr>
		  				</tr>
					</table>
					<input type="button" name="imprimir" value="Imprimir">
				</div>
			</div>
		</div>
	</body>
</html>