<html lang="en">
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<div class="container">
		<header>
			<% include ../../partials/header %>
		</header>
			<div >
			<form action="adicionar" method="post" class="form-inline">
				<div class="form-group">
					<label for="nome"> Nome: </label>
					<input type="text" class="form-control" name="nome"/>
					<button type="submit" class="btn btn-success">Adicionar</button>
				</div>
			</form>
			</div>
		</div>
	</body>
</html>