<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>

		<div class="row">
			<div class="col-sm-4">
				Id do produto:
				<input type="text" name="id" size="5">
				<input type="button" name="pesquisar" value="Pesquisar"><br><br>
				Produtos:
				<select>
					<option></option>
				</select><br><br>
				<table class="table table-striped">
					<tr>
						<th>Produto</th>
						<th>Preço</th>
					</tr>
					<tr>
					</tr>
				</table>
				Quantidade em estoque:
				<input type="number" name="quantidade" value ="0" min="0" max="100"><br><br>
				<input type="button" name="Atualizar" value="Atualizar">
			</div>
		</div>
	</div>
</body>
</html>