<html lang="en">
<head>
	<% include ../partials/head %>
	
	<style type="text/css">
		.form-control{
			width:75%;
			margin-left: 15px;
		}

		p{
			margin: 0 0 0 0px;
		}
		.row{
			margin-left: 0px;
			margin-right: 0px;
		}
		#productDiv{
			border-right-style: groove;
		}
		.no-left-padding{
			padding-left: 0px;
		}
		.no-left-padding > *{
			padding-left: 0px;
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function(){
			totalValue = 0;
			refreshTotalValue();
			selecionarProduto($('#selectBox'));
		});

		function updateTotalValue(newValue){
			totalValue += newValue;
			refreshTotalValue();
		}
		
		function refreshTotalValue(){
			var prefix = "Valor total: R$ ";
			$('#totalValue').text(prefix + totalValue);
		}

		function selecionarProduto(select){
			var produtoEscolhido = $(select).val();
			$.ajax({url: "/produtos/getProduto?produto="+produtoEscolhido, success: function(result){
				$("#preco").val(result.produto.price);
				$("#nome").val(result.produto.name);
				$("#id").val(result.produto._id);
				$("#quantidadeproduto").val(result.produto.availableQtd);
			}});
			$('#quantidade').val(1);
		}

		function registrarPedido(){
			var tableTRs = $('#table tbody tr');
			var postData = [];
			var vendedorNome = $('#selectBoxVendedor').val();
			var data = {vendedor: vendedorNome};
					
			$.each(tableTRs, function(i,obj){
				if(i==0){
					//empty table warning tr
					//ignore it
					return;
				}
				//TODO juntar tudo em um array só e mandar no corpo do post
				var id = $(obj).find(".produtoId").val();
				var quantidade = $(obj).find(".quantidadeProduto").text();
				var valor = $(obj).find(".precoProduto").text();
				var nome = $(obj).find(".nomeProduto").text();
				var object = {id:id, quantidade:quantidade, nome:nome, valor:valor};
				postData.push(object);
			});
			data.message = postData;
			$.ajax({
				type:"POST",
				url:"/pedidos/registrarPedido",
				data: JSON.stringify(data),
				contentType: 'application/json',
				success: function(){
					alert("Pedido registrado!\nValor total: " + totalValue );
					location.reload(); // refreshes the page
				}
			});
		}

		//só deus nessa função aqui
		function addRow() {
			$('#emptyTableWarning').hide();

			var id = document.getElementById("id").value;
			var table = document.getElementById('table');

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var pName = document.createElement("p");
		    var nomeProduto = document.createTextNode($('#nome').val());
			pName.className = "nomeProduto";
			pName.appendChild(nomeProduto);
			cell1.appendChild(pName);

			var cell2 = row.insertCell(1);
			var pQtd = document.createElement("p");
			var quantidade = $('#quantidade').val();
		    var qtdProduto = document.createTextNode(quantidade);
			pQtd.className = "quantidadeProduto";
			pQtd.appendChild(qtdProduto);
			cell2.appendChild(pQtd);


			var cell3 = row.insertCell(2);
			var pPreco = document.createElement("p");
			pPreco.className = "precoProduto";
			var preco = document.getElementById("preco").value;
			var precoTotalProduto = preco * quantidade;
		    var precoProduto = document.createTextNode(precoTotalProduto);
			pPreco.appendChild(precoProduto);
			cell3.appendChild(pPreco);

			var element4 = document.createElement("TD")
			var strHtml5 = "<INPUT TYPE=\"Button\" CLASS=\"btn btn-danger btn-sm\" onClick=\"delRow(this)\" VALUE=\"Deletar\">";
			element4.innerHTML = strHtml5.replace(/!count!/g,"count");
			var cell4 = row.insertCell(3);
			cell4.appendChild(element4);
			var element4 = document.createElement("input")
			element4.type = "text";
			element4.value = id;
			element4.className = 'produtoId';
			element4.style.display = "none";
			cell4.appendChild(element4);

			updateTotalValue(precoTotalProduto);
		}

		function delRow(button){
			var tr = $(button).closest('tr');
			var prodValue = $(tr).find('.precoProduto').text();
			updateTotalValue(-prodValue);
			$(tr).remove();
		    if($('#table tbody tr').length == 1){
    			$('#emptyTableWarning').show();
		    }
		}
	</script>
</head>

<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>

		<div class="col-sm-4" id="productDiv">
			
			<div class="form-group"> 
				<label for="selectBox">Produtos:</label>
				<select id="selectBox" class="form-control" onchange="selecionarProduto(this)">
				<% produtos.forEach(function(produto){ %>
					<option value="<%= produto._id%>"><%= produto.name%></option>
				<%})%>

				</select>
			</div>

			

			<div class="form-group">
				<label for="nome">Nome:</label>
				<input type="text" class="form-control" name="nome" id="nome">
			</div>

			<div class="form-group">
				<label for="preco">Preço por unidade:</label>
				<input type="number" class="form-control" step="0.01" id="preco" name="preco" value="0" min="0" max="1000" >
			</div>

			<div class="form-group">
				<label for="quantidade">Quantidade:</label>
				<input type="number" class="form-control" id="quantidade" name="quantidade" value="0" min="0" max="100">
			</div>

			<div class="form-group">
				<input type="text" name="id" id="id" value="" class="hidden">
				<input type="text" name="quantidadeproduto" id="quantidadeproduto" value="" class="hidden">
				<input type="button" value="Inserir Produto" onclick="addRow()" class="btn btn-success">
			</div>
		</div>

		<div class="col-sm-8">
		<div class="row">
		<div class="col-sm-5 no-left-padding">
			<div class="form-group"> 
				<label for="selectBox">Vendedor:</label>
				<select id="selectBoxVendedor" class="form-control">
				<% vendedores.forEach(function(vendedor){ %>
					<option value="<%= vendedor.nome%>"><%= vendedor.nome%></option>
				<%})%>
				</select>
			</div>
		</div>
		</div>
		<div class="row">
			<table id="table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th>Preço</th>
						<th>Ação</th>
					</tr>	
				</thead>
				
				<tbody>
					<tr id="emptyTableWarning">
						<td colspan="4" align="center">Nenhum produto foi adicionado nesse pedido</td>
					</tr>
				</tbody>
			<table>
			<div style="float:right">
				<p id="totalValue"></p>
			</div>
			<input type="button" value="Concluir Pedido" class="btn btn-success" onclick="registrarPedido()">
		</div>
			
		</div>
	</div>
</body>
</html>