<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>

		<div class="row">
			<div class="col-sm-4">
				Id do produto:
				<input type="text" name="id" size="5">
				<input type="button" name="pesquisar" value="Pesquisar"><br><br>
				Quantidade:
				<input type="number" name="quantidade" value ="0" min="0" max="100"><br><br>
				<input type="button" name="Adicionar" value="Adicionar">
			</div>
			<div class="col-sm-4">
				<table class="table table-striped">
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th>Preço</th>
						<th><input type="button" name="Limpar" value="Limpar"></th>
					</tr>
					<tr>
					</tr>
				</table>
				<input type="button" name="Concluir" value="Concluir">
			</div>
		</div>
	</div>
</body>
</html>