<html lang="en">
<head>
	<% include ../partials/head %>
	<script type="text/javascript">
		function selecionarProduto(select){
			var produtoEscolhido = $(select).val();
			$.ajax({url: "/getProduto?produto="+produtoEscolhido, success: function(result){
				$("#preco").val(result.produto.price);
				$("#nome").val(result.produto.name);
				$("#id").val(result.produto._id);
				//$("#quantidade").val(result.produto.availableQtd);
			}});
			document.getElementById('quantidade').value = 1;
		}


		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "text";
			element1.name = "txtbox[]";
			element1.disabled="disabled";
			element1.value = document.getElementById("nome").value;
			cell1.appendChild(element1);

			var cell2 = row.insertCell(1);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "txtbox[]";
			element2.disabled="disabled";
			var quantidade = document.getElementById("quantidade").value ;
			element2.value = quantidade;
			cell2.appendChild(element2);

			var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "txtbox[]";
			element3.disabled="disabled";
			var preco = document.getElementById("preco").value;
			element3.value = preco * quantidade;
			cell3.appendChild(element3);

			var element4 = document.createElement("TD")
		    var strHtml5 = "<INPUT TYPE=\"Button\" CLASS=\"btn btn-danger btn-sm\" onClick=\"delRow()\" VALUE=\"Delete Row\">";
		    element4.innerHTML = strHtml5.replace(/!count!/g,"count");
			var cell4 = row.insertCell(3);
			cell4.appendChild(element4);

			var element4 = document.createElement("TD")
			var id = document.getElementById("id").value;
		    var strHtml5 = "<INPUT TYPE=\"text\" VALUE=\""+ id +"\" DISABLED=\"disabled\" STYLE=\"display: none\">";
		    element4.innerHTML = strHtml5.replace(/!count!/g,"count");
			var cell4 = row.insertCell(4);
			cell4.appendChild(element4);

		}

		function delRow(){
		    var current = window.event.srcElement;
		    //here we will delete the line
		    while ( (current = current.parentElement)  && current.tagName !="TR");
		         current.parentElement.removeChild(current);
		}

	</script>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>

		<div class="center-container">
			<div class="col-sm-4">
				Produtos:
				<select id="selectBox" onchange="javascript:selecionarProduto(this);">
				<option></option>
					<% produtos.forEach(function(produto){ %>
					<option value="<%= produto._id%>"><%= produto.name%></option>
					<%})%>
				</select><br><br>
				Preço unidade:
				<input type="text" name="preco" id="preco" size="5" ><br><br>
				Quantidade:
				<input type="number" id="quantidade" name="quantidade" value ="0" min="0" max="100"><br><br>
				<input type="text" name="id" id="id" style="display: none">
				<input type="text" name="nome" id="nome" style="display: none">
				<input type="button" name="Inserir" value="Inserir" onclick="addRow('dataTable')" class="btn btn-success">

			</div>
			<div class="col-sm-4">
				<table id="dataTable" class="table table-striped">
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th>Preço</th>
						<th><input type="button" name="Limpar" value="Limpar" onclick="deleteRow('dataTable')" class="btn btn-success"></th>
					</tr>
					<tr>
					</tr>
				</table>
				<input type="button" name="Concluir" value="Concluir" class="btn btn-success">
			</div>
		</div>
	</div>
</body>
</html>