<html lang="en">
<head>
	<% include ../partials/head %>
	<script type="text/javascript">
		function selecionarProduto(select){
			var produtoEscolhido = $(select).val();
			$.ajax({url: "/produtos/getProduto?produto="+produtoEscolhido, success: function(result){
				$("#preco").val(result.produto.price);
				$("#nome").val(result.produto.name);
				$("#id").val(result.produto._id);
				$("#quantidadeproduto").val(result.produto.availableQtd);
			}});
			document.getElementById('quantidade').value = 1;
		}

		function registrarPedido(){
			var x = document.getElementById("table");
			for (var i = 1; i < x.rows.length; i++) {
				var id = x.rows[i].cells[3].children[1].value
				var quantidade = x.rows[i].cells[1].children[0].value
				var valor = x.rows[i].cells[2].children[0].value
				var nome = x.rows[i].cells[0].children[0].value
				$.ajax({url: "/produtos/getProduto?produto="+id, success: function(result){
					$("#quantidadeproduto").val(result.produto.availableQtd);
				}});
				var quantidadeproduto = document.getElementById("quantidadeproduto").value;
				var vendedor = document.getElementById("selectBoxVendedior").value
				if (vendedor == "Selecione um vendedor"){
					vendedor = "";
				}
				$.ajax({type: "POST", url: "/pedidos/registrarPedido?id="+id+"&nome="+nome+"&quantidade="+quantidade+"&valor="+valor+"&quantidadeproduto="+quantidadeproduto+"&vendedor="+vendedor});
				alert("Produto registrado com sucesso.");
			}
		}


		function addRow(tableID) {

			var id = document.getElementById("id").value;
			if (id == ""){
				alert("Selecione um produto.");
			}else{

				var table = document.getElementById(tableID);

				var rowCount = table.rows.length;
				var row = table.insertRow(rowCount);

				var cell1 = row.insertCell(0);
				var element1 = document.createElement("input");
				element1.type = "text";
				element1.name = "txtbox[]";
				element1.disabled="disabled";
				element1.value = document.getElementById("nome").value;
				cell1.appendChild(element1);

				var cell2 = row.insertCell(1);
				var element2 = document.createElement("input");
				element2.type = "text";
				element2.name = "txtbox[]";
				element2.disabled="disabled";
				var quantidade = document.getElementById("quantidade").value ;
				element2.value = quantidade;
				cell2.appendChild(element2);

				var cell3 = row.insertCell(2);
				var element3 = document.createElement("input");
				element3.type = "text";
				element3.name = "txtbox[]";
				element3.disabled="disabled";
				var preco = document.getElementById("preco").value;
				element3.value = preco * quantidade;
				cell3.appendChild(element3);

				var element4 = document.createElement("TD")
				var strHtml5 = "<INPUT TYPE=\"Button\" CLASS=\"btn btn-danger btn-sm\" onClick=\"delRow()\" VALUE=\"Deletar\">";
				element4.innerHTML = strHtml5.replace(/!count!/g,"count");
				var cell4 = row.insertCell(3);
				cell4.appendChild(element4);

				var element4 = document.createElement("input")
				
				element4.type = "text";
				element4.value = id;
				element4.style.display = "none";
				cell4.appendChild(element4);
			}
		}

		function delRow(){
			var current = window.event.srcElement;
		    //here we will delete the line
		    while ( (current = current.parentElement)  && current.tagName !="TR");
		    current.parentElement.removeChild(current);
		}
	</script>

	<style type="text/css">
		.form-control{
			width:75%;
			margin-left: 15px;
		}
	</style>
</head>

<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>

		<div class="col-sm-4">
			
			<div class="form-group"> 
				<label for="selectBox">Produtos:</label>
				<select id="selectBox" class="form-control" onchange="selecionarProduto(this);">
				<option selected hidden>Selecione um produto</option>
				<% produtos.forEach(function(produto){ %>
					<option value="<%= produto._id%>"><%= produto.name%></option>
				<%})%>

				</select>
			</div>

			<div class="form-group"> 
				<label for="selectBox">Vendedores:</label>
				<select id="selectBoxVendedior" class="form-control">
				<option selected hidden>Selecione um vendedor</option>
				<% vendedores.forEach(function(vendedor){ %>
					<option value="<%= vendedor.nome%>"><%= vendedor.nome%></option>
				<%})%>

				</select>
			</div>

			<div class="form-group">
				<label for="nome">Nome:</label>
				<input type="text" class="form-control" name="nome" id="nome">
			</div>

			<div class="form-group">
				<label for="preco">Preço por unidade:</label>
				<input type="text" class="form-control" name="preco" id="preco" size="5" >
			</div>

			<div class="form-group">
				<label for="quantidade">Quantidade:</label>
				<input type="number" class="form-control" id="quantidade" name="quantidade" value="0" min="0" max="100">
			</div>

			<div class="form-group">
				<input type="text" name="id" id="id" value="" class="hidden">
				<input type="text" name="quantidadeproduto" id="quantidadeproduto" value="" class="hidden">
				<input type="button" value="Inserir Produto" onclick="addRow('table')" class="btn btn-success">
			</div>
		</div>

		<div class="col-sm-8">
			<table id="table" class="table table-striped table-bordered">
				<tr>
					<th>Produto</th>
					<th>Quantidade</th>
					<th>Preço</th>
					<th>Ação</th>
				</tr>
			<table>
			<input type="button" value="Concluir Pedido" class="btn btn-success" onclick="registrarPedido()">
		</div>

	</div>
</body>
</html>