<html lang="en">
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<div class="container">
			<header>
				<% include ../../partials/header %>
			</header>
			<form action="editarproduto" method="post" class="form-inline">
				<div class="form-group">
					<% produtos.forEach(function(produto){ %>
						<label for="nome"> Nome: </label>
						<input type="text" name="nome" value="<%= produto.name%>"><br><br>
						<label for="preco"> Preço: </label>
		  				<input type="number" step="0.01" name="preco" value="<%= produto.price%>" min="0" max="1000"><br><br>
		  				<label for="estoque"> Quantidade em estoque: </label>
						<input type="number" name="estoque" value ="<%= produto.availableQtd%>" min="0" max="1000"><br><br>
						<input type="text" name="id" value="<%= produto._id%>" style="display: none;">
					<%})%>
	  				<button type="submit" class="btn btn-success">Editar</button>
				</div>
			</form>
		</div>
	</body>
</html>