<html lang="en">
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<div class="container">
		<header>
			<% include ../../partials/header %>
		</header>

			<div class="row">
				<div class="col-sm-4">
					Id do produto:
					<input type="text" name="id" size="5">
	  				<input type="button" name="pesquisar" value="Pesquisar"><br><br>
	  				Produtos:
	  				<select>
	  					<option></option>
					</select><br><br>
	  				Nome:
	  				<input type="text" name="nome"><br><br>
	  				Preço:
	  				<input type="number" name="quantidade" value="0" min="0" max="200"><br><br>
	  				<input type="button" name="Adicionar" value="Adicionar">
	  				<input type="button" name="Inserir" value="Inserir">
				</div>
			</div>
		</div>
	</body>
</html>